<%- include('./header.ejs') %>
    <main>
        <section id="announcements">
            <h2>Announcements</h2>
            <div id="announcementList">
                <% announcements.forEach(announcement => { %>
                    <% let cDate = announcement.createdAt %>
                    <% const monthNames = [
                    "Jan", "Feb", "March", "April", "May", "June", 
                    "July", "Aug", "Sep", "Oct", "Nov", "Dec"
                  ];
                   %>
                    <% let currentDate = ` ${cDate.getDate()} ${monthNames[cDate.getMonth()]}, ${cDate.getFullYear()} ` %>
                    <div class="notes">
                        <div class="head">
                            <h2 class="notes-title"><%= announcement.title %></h2>
                            <h2 class="notes-title">Created At: <%= currentDate %></h2>
                        </div>
                        <div class="hr"></div>
                        <p class="notes-content"><%= announcement.content %></p>
                    </div>
                <% }); %>
            </div>
        </section>
        <section id="add-annoucements">

            <form id="add" action="/dashboard/announcement" method="post">
                <h2>Add Announcement</h2>
                <label for="announcementTitle">Announcement Title:</label>
                <input type="text" id="announcementTitle" name="announcementTitle" required>
                <label for="announcementContent">Announcement Content:</label>
                <textarea id="announcementContent" name="announcementContent" rows="4" required></textarea>
                <center><button type="submit">Add Announcement</button></center>
            </form>
        </section>


    </main>