<header>
    <div class="nav">
        <div class="left">
            VESP PORTAL
        </div>
        <div class="center">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="">contact us</a></li>
            <li><a href="">about us</a></li>  
        </ul>
        </div>
        <div class="right">
            <button class="btn" type="button"><a href="/login">Login</a></button>
        </div>
    </div>
</header>