<header>
    <nav>
        <div class="nav">
            <div class="left">
                <img src="https://www.technothon2024.in/images/vesp-white.png" alt="VES Logo" class="logo">
                <h1>VIVEKANAND EDUCATION SOCIETY'S POLYTECHNIC</h1>
            </div>
            <div class="center">
                <ul>
                    <li><a href="/dashboard/notes">Notes Page</a></li>
                    <li><a href="/dashboard/announcement">Announcement Page</a></li>

                    <li><a href="/dashboard/test-section">Test Section</a></li>
                    <li><a href="/dashboard/scoreboard">ScoreBoard Page</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>