<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="stylesheet" href="/index.css" />
    <!-- <link rel="stylesheet" href="/signUp.css" /> -->
    <link rel="stylesheet" href="/teacherDashboard.css" />
    <link rel="stylesheet" href="/notes.css" />
    <link rel="stylesheet" href="/studentDashboard.css" />
    <link rel="stylesheet" href="/announcement.css" />
    <link rel="stylesheet" href="/classroom.css" />
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-storage.js"></script>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  </head>
  <body>
    <%- body %>
    <script src="/upload.js" type="module"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
