<%- include('./header.ejs') %>

<div class="main">
  <div class="container-l">
    <h1 class="heading">Login Now</h1>
    <div class="line"></div>
    <form action="/login" method="post">
      <input
        required
        type="text"
        name="username"
        placeholder="username"
        value="name"
      />
      <input
        required
        type="email"
        name="email"
        placeholder="vesp email id"
        value="email@ves.ac.in"
      />
      <input
        required
        type="password"
        name="password"
        placeholder="password"
        value=""
      />
      <input
      required
      type="text"
      name="job"
      placeholder="job"
      value=""
    />
      <button type="submit" class="btn loga">Login</button>
      <div class="line"></div>
      <p>Not logined in?</p>
      <button class="btn loga"><a href="/sign_up" class="loga">Sign up</a></button>
    </form>
  </div>
</div>
