<%- include('./header.ejs') %>
<div class="teacher-div">
  <div id="teacher-interface">
    <h2 class="h2">Teacher's Interface</h2>
    <a href="/dashboard/notes" class="interface-link">Notes Page</a>
    <a href="/dashboard/announcement" class="interface-link"
      >Announcements Page</a
    >
    <a href="/dashboard/classroom" class="interface-link">Create Classroom</a>
    <a href="test-section.html" class="interface-link">Test Section</a>
    <a href="scoreboard.html" class="interface-link">Scoreboard Page</a>
    <a href="/dashboard/showClassroom" class="interface-link">View Classroom</a>
  </div>
</div>
