* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(121, 121, 121);
    --secondary-color: rgb(121, 121, 121);
    --main-font-family: Arial;
    background-image: url("https://media.licdn.com/dms/image/D4D1BAQHhoLB2p01i-w/company-background_10000/0/1654498290922/ves_polytechnic_cover?e=1708801200&v=beta&t=iI9MaB2Mc9ucHIKeWsR7mG2Uk4V2bOpBXnYPugh9XHI");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(1121, 121, 121);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 121, 121);


}


/* CSS for the header */
/* CSS for the header */
/* CSS for the header */
header {
    background: black;
    padding: 0.5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

/* CSS for the nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}



/* CSS for the logo */

h1 {
    font-size: 25px;
}

.logo {
    height: 50px;
    /* justify-content: left; */

    /* Adjust the height as needed */
}

/* CSS for the left side of the nav bar */
.nav .left {
    flex: 2;
    text-align: left;
    padding-left: 20px;
    margin-left: 0px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .left h1 {
    font-size: 20px;
}

/* CSS for the center part of the nav bar */
.nav .center {
    flex: 2;
    text-align: right;
    margin-right: 20px;
}

/* CSS for the navigation links */
.nav .center ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .center ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav .center ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav .center ul li a:hover {
    color: #f8f9fa;
}



.btn {
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
}

.btn:hover {
    padding: 13px 23px;
}

.btn:active {
    opacity: 0.7;
}

/* sign_up styles */

.main {
    background-color: var(--secondary-color);
    height: 90vh;
    font-family: var(--main-font-family);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid white;
    padding: 15px;
    border-radius: 20px;
}

.heading {
    font-size: 40px;
    margin-bottom: 15px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 4vh;
}

.job {
    margin: 10px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.line {
    padding: 1px;
    background-color: #fff;
    margin: 10px;
}

p {
    padding-bottom: 10px;
}

/* login styles */

.container-l {
    border: 2px solid white;
    padding: 15px;
    border-radius: 20px;
}

.container-l form {
    display: flex;
    flex-direction: column;
}

.container-l form input {
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 6vh;
    width: 30vw;
}

/* Error page styles */

.error-container {
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.error-container p {
    margin: 10px;
    font-size: 20px;
}